/WebTimeSheetManagement/WebTimeSheetManagement/bin
/WebTimeSheetManagement/WebTimeSheetManagement.Concrete/bin
/WebTimeSheetManagement/WebTimeSheetManagement.Interface/bin
/WebTimeSheetManagement/WebTimeSheetManagement.Models/bin
/WebTimeSheetManagement/WebTimeSheetManagement/obj
/WebTimeSheetManagement/WebTimeSheetManagement.Concrete/obj
/WebTimeSheetManagement/WebTimeSheetManagement.Interface/obj
/WebTimeSheetManagement/WebTimeSheetManagement.Models/obj
/WebTimeSheetManagement/packages
