
/.vs
/WebTimeSheetManagement/.vs
/WebTimeSheetManagement/WebTimeSheetManagement/.vs
/WebTimeSheetManagement/WebTimeSheetManagement.Concrete/.vs
/WebTimeSheetManagement/WebTimeSheetManagement.Interface/.vs
/WebTimeSheetManagement/WebTimeSheetManagement.Models/.vs
/WebTimeSheetManagement/WebTimeSheetManagement.Models/obj
/WebTimeSheetManagement/WebTimeSheetManagement.Interface/obj
/WebTimeSheetManagement/WebTimeSheetManagement.Concrete/obj
/WebTimeSheetManagement/WebTimeSheetManagement/obj
