
/.vs
/WebTimeSheetManagement/.vs
/WebTimeSheetManagement/WebTimeSheetManagement/.vs
/WebTimeSheetManagement/WebTimeSheetManagement.Concrete/.vs
/WebTimeSheetManagement/WebTimeSheetManagement.Interface/.vs
/WebTimeSheetManagement/WebTimeSheetManagement.Models/.vs
