@model Membre
@{
    ViewData["Title"] = "Create Membre";
}

<h1>Create New Membre</h1>

<form asp-action="Create">
    <div class="form-group">
        <label for="Nom">Nom</label>
        <input type="text" class="form-control" id="Nom" name="Nom" required />
    </div>
    <div class="form-group">
        <label for="Prenom">Prénom</label>
        <input type="text" class="form-control" id="Prenom" name="Prenom" required />
    </div>
    <div class="form-group">
        <label for="DateNaissance">Date de Naissance</label>
        <input type="date" class="form-control" id="DateNaissance" name="DateNaissance" required />
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" id="Email" name="Email" required />
    </div>
    <div class="form-group">
        <label for="Adresse">Adresse</label>
        <input type="text" class="form-control" id="Adresse" name="Adresse" required />
    </div>
    <div class="form-group">
        <label for="Telephone">Téléphone</label>
        <input type="tel" class="form-control" id="Telephone" name="Telephone" required />
    </div>
    <button type="submit" class="btn btn-primary">Créer</button>
</form>
