@{
    ViewData["Title"] = "Universell - Connexion";
}

@model Universell.Models.LoginModel

<div class="login-container | sequel col | highlight-container">
    <h1>Connexion</h1>
    @await Html.PartialAsync("~/Views/Shared/_ErrorMessages.cshtml")
    <form class="| sequel col" method="post">
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.Query["returnUrl"]" />
        <div class="input-container">
            <label asp-for="Login">Login</label>
            <input asp-for="Login" />
            <span asp-validation-for="Login" class="font-error"></span>
        </div>
        <div class ="input-container">
            <label asp-for="Password">Mot de passe</label>
            <input asp-for="Password" type="password" />
            <span asp-validation-for="Password" class="font-error"></span>
        </div>
        <div class="submit-container">
            <button type="submit">Connexion</button>
        </div>
        <a asp-controller="Account" asp-action="Register">Vous n'avez pas de compte? Inscrivez vous!</a>
    </form>
</div>

