.register-container {
    --flex-gap: 1rem;
    width: 50rem;
}

.password-explication ul{
    margin-top: 0.2rem;
    list-style: disc;
}

.password-explication ul li {
    margin-left: 1rem;  
}

.submit-container {
    align-self: end;
}
