body {
    --flex-gap: 0.5rem;
}

.repel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: var(--flex-direction);
}

.col {
    --flex-direction: column;
}

.row {
    --flex-direction: row;
}

.sequel {
    gap: var(--flex-gap);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: var(--flex-direction);
}

.input-container {
    display: flex;
    flex-direction: column;
    width:100%;
    gap: 0.2rem;
}

.input-container input {
    font-size:1.5rem;
}

.input-container label {
    font-size: 1.2rem;
}

.input-container input, .input-container label {
    display: flex;
    width: 100%;
} 
