.highlight-container {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    padding: 1rem 1.3rem;
}

.font-error{
    color: orangered;
    font-size: 1.3rem;
}

.highlight-container form {
    width:80%;
}