using static Microsoft.EntityFrameworkCore.DbLoggerCategory.Model;
using System.Reflection.Emit;
using System;

@model TempsTravail

@{
    ViewData["Title"] = "Ajouter un Temps de Travail";
}

<h1>Ajouter un nouveau Temps de Travail</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label>Membre</label>
        <select asp-for="MembreId" class="form-control">
            @foreach (var membre in ViewBag.Membres as IEnumerable<Membre>)
            {
                <option value="@membre.Id">@membre.Nom</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Sprint</label>
        <select asp-for="SprintId" class="form-control">
            @foreach (var sprint in ViewBag.Sprints as IEnumerable<Sprint>)
            {
                <option value="@sprint.Id">@sprint.Nom</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Categorie"></label>
        <input asp-for="Categorie" class="form-control" />
        <span asp-validation-for="Categorie" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TempsHeures"></label>
        <input asp-for="TempsHeures" type="number" class="form-control" />
        <span asp-validation-for="TempsHeures" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Ajouter</button>
</form>